<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/logout}" method="get">
		<button class="btn btn-md btn-danger btn-block" name="registration"
			type="Submit">Logout</button>
	</form>
	
		<p>
		<a href="/login">Login</a> <a href="/registration">Registration</a>
	<p>
		<a href="/user/panel">User Panel</a> <a href="/admin/home">Admin
			Panel </a> <a href="/moderator/panel">Moderator panel</a>
	<p></p>
	
	<p>
		<a href="/tweet/add">Add Tweet</a>
	</p>


	<table>
		<th:block>
			<tr>
				<td th:text="tweet"></td>
				<td th:text="action"></td>
				
			</tr>
		</th:block>
		<th:block th:each="tweet : ${tweetList}">
			<tr>
				<td th:text="${tweet.text}"></td>
				<td><a th:href="@{'/tweet/delete/' + ${tweet.id}}">delete</a></td>
			</tr>

		</th:block>
	</table>
</body>
</html>