<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Main Page</title>
</head>
<body>
	<h1>Strona Główna</h1>

	<p>
		<a href="/login">Login</a> <a href="/registration">Registration</a>
	<p>
		<a href="/user/panel">User Panel</a> <a href="/admin/home">Admin
			Panel </a> <a href="/moderator/panel">Moderator panel</a>
	<p></p>

	<table>
		<th:block>
			<tr>
				<td th:text="user"></td>
				<td th:text="tweet"></td>
			</tr>
		</th:block>
		<th:block th:each="tweet : ${tweetList}">
			<tr>
				<td th:text="${tweet.user.email}"></td>
				<td th:text="${tweet.text}"></td>
			</tr>

		</th:block>
	</table>
</body>
</html>