<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Main Page</title>
</head>
<body>
<h1>Strona Główna</h1>

	<p>
		<a href="/login">Login</a> <a href="/register">Register</a> <a href="/user/panel">User Panel</a>
	</p>

	<p>
		<a href="/tweet/add">Add Tweet</a>
	</p>

	<table>
		<th:block th:each="tweet : ${tweetList}">
			<tr>
				<td th:text="${tweet.user.email}"></td>
				<td th:text="${tweet.text}"></td>
				<td>
					<a th:href="@{'/tweet/delete/' + ${tweet.id}}">delete</a>
				</td>
			</tr>

		</th:block>
	</table>
</body>
</html>