<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>   
	<p>
		<a href="/tweet/add">Add Tweet</a>
	</p>

	<table>
		<th:block th:each="tweet : ${tweetList}">
			<tr>
				<td th:text="${tweet.text}"></td>
				<td>
					<a th:href="@{'/tweet/delete/' + ${tweet.id}}">delete</a>
				</td>
			</tr>

		</th:block>
	</table>
</body>
</html>